<div class="row">
        <div class="col-12 col-md-6">
            <a [routerLink]="['locais']">
                <mdb-card>
                        <mdb-card-body>
                          <mdb-card-title>
                            <h5>Locais</h5>
                          </mdb-card-title>
                          <mdb-icon fas icon="map-marked-alt"></mdb-icon>
                          <mdb-card-text>Lista todos os locais visitados na série.</mdb-card-text>
                          <!-- <a href="" mdbBtn color="primary">Acessar!</a> -->
                        </mdb-card-body>
                      </mdb-card>
                    </a>
                    </div>
                    <div class="col-12 col-md-6">
                            <a href="#">
                      <mdb-card>
                            <mdb-card-body>
                              <mdb-card-title>
                                <h5>Personagens</h5>
                              </mdb-card-title>
                              <mdb-card-text>Fotos, características e quais episódios participa.</mdb-card-text>
                            </mdb-card-body>
                          </mdb-card>
                        </a>
        </div>
    </div>