/* You can add global styles to this file, and also import other style files */
@import '~angular-bootstrap-md/assets/scss/mdb.scss';
@import '~angular-bootstrap-md/assets/scss/bootstrap/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Lato|Passion+One&display=swap');

body {
    background-color: #f5f5f5;
    font-family: 'Lato';    
}

p, table * {
    font-size: 1rem;
}

h1, h2 {
    font-family: 'Passion One';
    color: $green-base;
}

h2 {
    margin-top: 3rem;
}

h5 {
    color: $green-base;
}

.navbar {
    h1 {
        color: #fff;
    }
    a {
        font-size: 1.1rem;
    }
}

img {
    max-width: 100%;
}

.btn.btn-paginacao {
    background-color: $green-base;
    text-transform: none;
    color: #fff;
}

mdb-card {
    transition: .5s;
    &:hover {
        opacity: .8;
    }    
}

table th {
    font-weight: 900;
}