<h1>Locais</h1>
<div class="row">
  <div class="col-12 col-md-4">
    <div class="md-form">
      <input mdbInput type="text" id="pesquisaLocal" class="form-control" (keyup)='pesquisarLocal($event)'>
      <label for="pesquisaLocal" class="">Pesquisar local</label>
    </div>
    <p>{{ mensagemFiltro }}</p>
  </div>
  <div class="col-12 col-md-8">
    <paginacao [linkProxima]="linkProxima" [linkAnterior]="linkAnterior" (paginaAnterior)="paginaAnterior()"  (paginaProxima)="paginaProxima()"></paginacao>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <tabela *ngIf="locais?.length" [itens]="itensCabecalho" [dados]="locais" [detalhes]="true" (acessarDetalhe)="acessarLocal($event)">
    </tabela>
  </div>
</div>