<table mdbTable striped="true" hover="true">
    <thead>
        <tr>
        <th *ngFor="let item of itens" scope="col">{{ item }} </th>
        </tr>
    </thead>
    <tbody>
        <tr mdbTableCol *ngFor="let dado of dados">
        <th scope="row">{{ dado.id }}</th>
        <td>{{ dado.name }}</td>
        <td>{{ dado.type }}</td>
        <td>{{ dado.dimension }}</td>
        <td>{{ dado.residents.length }}</td>
        <td><a (click)="emitAcessarDetalhe(dado.id)">+ Detalhes</a></td>
        </tr>
    </tbody>
</table>